@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.body {
  background-image: url(/pictures/blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: calc(100vh + 60px);
}

.body::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 10%;
  left: 50%;
  height: 90%;
  transform: translateX(-50%);
  content: "";

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}

.banner {
  width: 100%;

  height: calc(100vh + 60px);

  text-align: center;
  overflow: hidden;

  position: relative;
}

.banner .slider {
  position: absolute;

  width: 220px;
  height: 200px;
  top: 9%;
  left: calc(50% - 120px);
  transform-style: preserve-3d;
  transform: perspective(800px);
  animation: autoRun 40s linear infinite;
  z-index: 3;
}

@keyframes autoRun {
  from {
    transform: perspective(1100px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1100px) rotateX(-10deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;

  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(330px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner .content {
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: min(1400px, 100vw);

  height: max-content;

  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  align-items: center;

  z-index: 2;
}

.banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 10em;
  line-height: 2em;
  color: #c2dbe3;
  position: relative;
  bottom: 2vw;
}
.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;

  content: attr(data-content);
  z-index: 2;

  -webkit-text-stroke: 2px #001356;
  color: transparent;
}

.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 400px;
  color: #c4dde5;
  -webkit-text-stroke: 0.4px #000000;
}

.banner .content h2 {
  font-size: 2em;
  bottom: 2vw;
}

.banner .content .model {
  background-image: url(/pictures/woman-wearing-vr.png);
  width: 100%;
  height: calc(110vh + 60px);
  position: absolute;
  bottom: 0;
  background-size: auto 110%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;

    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(200px);
  }

  .banner .slider {
    width: 180px; /* Smaller width */
    height: 160px; /* Smaller height */
    top: 5%; /* Adjust top position */
    left: calc(50% - 90px); /* Reposition to center */
  }

  .banner .content h1 {
    font-size: 5em; /* Smaller font size */
    line-height: 1.2em; /* Adjust line height */
  }

  .banner .content .author {
    display: none; /* Hide author text on small screens */
  }

  .banner .content h2 {
    font-size: 1.2em; /* Slightly smaller heading */
  }

  .banner .content .model {
    background-size: cover; /* Change background size */
    height: calc(100vh + 30px); /* Adjust model height */
  }
}

@media screen and (max-width: 430px) {
  .banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;

    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(100px);
  }
}
